
body { 
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1400px;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.whiteBlock {
  height: 10%;
  width: 100%;
  position: absolute;
  background-color: white;
}

ul.map {
  margin: 6% 0 0 5%;
}

ul.map li { 
  float: left; 
  margin: 0 25px 0 0; 
  width: 120px; 
  border: 0px solid; 
  height: 45px; 
  padding-left: 6px; 
  list-style-type: none;
}

ul.map li a { 
  margin: 0;
  padding: 0;
  text-decoration:none; 
  font-size:12px; 
  font-weight:normal; 
  color: darkorange; 
} 

ul.map li a:hover { 
  text-decoration:none; 
  color:#214b6e;
}

iframe {
  margin: 3% auto -2% auto;
  display:block;
}