 <h2>Edit profile</h2>


<form action="/users/{{this.id}}/edit" method="post">
  <label for="">Username:</label>
  <input type="text" name="username" value="{{this.username}}">

  <label for="">Password:</label>
  <input type="password" name="password">

  <label for="">Retype password:</label>
  <input type="password" name="password2">


  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button id="updateButton" type="submit">UPDATE</button>
</form>