 <h2>Add New House/Apt</h2>

<form action="/Classifieds/addHousing" method="post" enctype="multipart/form-data">
  <label for="">Title:</label>
  <input type="text" name="title"> <br/>

  <label for="">Price:</label>
  <input type="number" name="price"> <br/>

  <label for="">Motive:</label>
  <input type="radio" name="motive" value="Rent"> Rent
  <input type="radio" name="motive" value="Sale"> Sale
  <br/>

  <label for="">State:</label>
  <select name="state">
    {{#each states}}
      <option value="{{this.acronym}}">{{this.name}}</option>
    {{/each}}
  </select> <br/>

  <label for="">Images:</label>
  <input type="file" name="photo" multiple> <br/>

  <label for="">Description:</label>
  <input type="text" name="description"> <br/>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button type="submit" value="SAVE">POST</button>
</form>