 <h3>Add New House/Apt</h3>

<form action="/Classifieds/addHousing" method="post" enctype="multipart/form-data">

<div class="form-group">
  <label for="titleAdd">Title:</label>
  <input type="text" class="form-control" name="title" id="titleAdd">
</div>

<div class="form-group">
  <label for="priceAdd">Price:</label>
  <input type="number" class="form-control" name="price" id="priceAdd">
</div>

 <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="motive" value="Rent" checked>
  <label class="form-check-label">Rent</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="motive" value="Sale">
  <label class="form-check-label">Sale</label>
</div>

<div class="form-group">
  <label for="controlSelectAdd">State:</label>
  <select class="form-control" id="controlSelectAdd" name="state">
    {{#each states}}
      <option value="{{this.acronym}}">{{this.name}}</option>
    {{/each}}
  </select>
</div>  

<div class="form-group">
  <label for="imageAdd">Images:</label>
  <input type="file" class="form-control-file" id="imageAdd" name="photo" multiple>
</div>

<div class="form-check">
  <input class="form-check-input" name="pets" type="checkbox" value="Yes" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1"> Pets ok </label>
</div>

<div class="form-check">
  <input class="form-check-input" name="laundry" type="checkbox" value="Yes" id="defaultCheck2">
  <label class="form-check-label" for="defaultCheck2"> Laundry on site </label>
</div>

<div class="form-check">
  <input class="form-check-input" name="available" type="checkbox" value="Yes" id="defaultCheck3" aria-describedby="checksHelp">
  <label class="form-check-label" for="defaultCheck3"> Available now </label>
  <small id="checksHelp" class="form-text text-muted">Keep in mind unchecked fields will be saved as "No"</small>
</div>

<div class="form-group">
  <label for="descriptionAdd">Description:</label>
  <textarea class="form-control" type="text" id="descriptionAdd" name="description" rows="3" aria-describedby="descriptionHelp"></textarea>
  <small id="descriptionHelp" class="form-text text-muted">Please remember to give a way for users to contact you</small>
</div>

  {{#if message}}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {{/if}}

  <button type="submit" value="SAVE" class="btn btn-primary">POST</button>
</form>
